API_ID=25395782
API_HASH=3c0f6066a07142d664690cfd34447450
BOT_TOKEN=7262095494:AAERgUcxzP6Lr0HiehEHOCM3kC3JuNkGa6E
LOGGER_ID=1002168263778
MONGO_DB_URI=mongodb+srv://tanjiro1564:tanjiro1564@cluster0.pp5yz4e.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=1886390680
STRING_SESSION=BQGDgkYAUNJJYjftUZdC5GjWwEDN4wYD1KWCQ5f0dcf3HegkonKgzGqsPmXBnWa3MhrFAqXeUk2KhQeJYdCuDcgWsfjtxJc5OKGTIu5wefD7wKZk48eFgpxh_EFi8u9FAWxEcphzv1nIaCJsQgCV_So9n5QqpxxHR1BsryJwTlM09qYzV0VXL2Mrs8Og90vwzep7MuoVupixM6U3Uxa7azNj1UrBKy6DLEl7lDRtvjkQ9zkLwo3IrpZK2btcIICTHDI62RU3Xl8iPfPlTjKCGDBMCuRh0IbNquZtACHoA4iXSPJoy5co0xrjzctXY0AXUGv2Y-KtTasN8N6c3J4Esxj_K_z9vAAAAABRRDPjAA 

